*{
    font-size: 1rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: bisque;
}
.pf{
    width: 200px;
    position: relative;
    left: 0px;
    bottom: 15px;
    border: solid 10px;
    border-color: rgb(34, 115, 236);
    border-radius: 100%;
}
.cn{
    width: 100px;
}
.lp{
    width: 100px;
}
